Задача: Управување со библиотека и книги

Потребно е да се изработи едноставна конзолна апликација за менаџирање 
на библиотека, нејзините книги и корисниците што ги позајмуваат.

Барања:
Апликацијата треба да чува податоци за три типа корисници: 
RegularUser, StudentUser и ResearcherUser.

За секој корисник се чува:
Име и презиме,
ID број,
Листа на позајмени книги.

Дополнително, за специфичните корисници се чуваат следните информации:
RegularUser – има максимален лимит од 5 книги кои може да ги позајми.
StudentUser – припаѓа на одреден факултет и има лимит од 7 книги.
ResearcherUser – има список од истражувачки трудови и може да позајмува неограничен број книги.

За книгите, се чуваат:
Наслов,
Автор,
ISBN код,
Вкупен број на примероци во библиотеката.

Валидациски правила:
Корисник не може да позајми повеќе книги од дозволениот лимит.
Ако нема достапни примероци, позајмувањето не е возможно.

Интерфејси:
IUserBorrowing – дефинира методи за позајмување и враќање книги.
IBookManagement – дефинира метод за проверка на достапност на книга.

Дополнителни функционалности:
Метод GetMostBorrowedBook – ја враќа книгата што е најмногу позајмена.
Метод GetUsersWithOverdueBooks – ги враќа корисниците кои имаат книги позајмени подолго од 30 дена.

Во Main, да се креираат инстанци од сите типови корисници, да позајмат книги и да се тестираат методите.