@model AthletesApplication.Domain.DomainModels.Tournament

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<!-- TODO: Create Table for Tournament -->
<!-- Look at the table from any Index page for help -->
<!-- Iterate throught Model.AthletesInTournament -->
<!-- Display: Athlete FullName, Athlete JerseyNumber, Athlete DateOfBirth -->
<table class="table">
    <thead></thead>
    <tbody></tbody>
</table>


<!--TODO: Display Total Athletes in Tournament-->
<div>
    <p>Total Athletes in Tournament: </p>
</div>